bs4==0.0.1
matplotlib==3.0.3
nbconvert==6.3.0
numpy==1.16.1
pandas==0.24.1
papermill==0.19.1
pytest==4.3.0
python-dateutil==2.8.0
qgrid==1.1.1
requests==2.21.0
requests_html==0.10.0
retrying==1.3.3
SQLAlchemy==1.3.1